//
//  Copyright 2016 Fingerprint Digital, Inc. All rights reserved.
//

package com.fingerprintplay.v3;

import org.springframework.web.bind.annotation.RequestBody;

import javax.ws.rs.*;
import javax.ws.rs.container.ResourceContext;
import javax.ws.rs.core.*;
import javax.ws.rs.ext.*;

@Provider
@Path("/api/v3")
{{#operations}}
public class {{classname}}  {
    @Context private ResourceContext rc;

{{#operation}}
    @{{httpMethod}}
    {{#hasBodyParam}}
    @Consumes(MediaType.APPLICATION_JSON)
    {{/hasBodyParam}}
    @Produces(MediaType.APPLICATION_JSON)
    @Path("/{{baseName}}{{path}}")
    public Response {{nickname}}In({{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{^-last}}, {{/-last}}{{/allParams}})
    {
    	return null; // TODO: implement
    }    

{{/operation}}    
}
{{/operations}}
