//
//  Copyright 2016 Fingerprint Digital, Inc. All rights reserved.
//

package com.fingerprintplay.v4.{{apiName}};

import com.amazonaws.util.json.JSONException;
import com.amazonaws.util.json.JSONObject;

{{#atLeastOneModel}}import com.fingerprintplay.v4.{{apiName}}.models.*;

{{/atLeastOneModel}}
import com.fingerprintplay.v4support.V3Mapper;

import com.fasterxml.jackson.databind.ObjectMapper;
import com.fasterxml.jackson.core.JsonProcessingException;

import javax.servlet.http.HttpServletRequest;
import javax.ws.rs.core.Context;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.SecurityContext;
import javax.ws.rs.*;

import java.util.List;

@Path("/{{apiName}}/{{baseName}}")
{{#operations}}
public class {{classname}}  {

{{#operation}}
    @{{httpMethod}}
    {{#subresourceOperation}}@Path("{{path}}"){{/subresourceOperation}}
    {{#hasBodyParam}}
    @Consumes({ "application/json" })
    {{/hasBodyParam}}
    @Produces({ "application/json" })
    public Response {{nickname}}In({{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}, {{/allParams}}@Context HttpServletRequest request, @Context SecurityContext securityContext) throws NotFoundException 
    {
    	// Argument validation, if any, done here.  Then, run is called.
    	try {
	        return {{nickname}}({{#allParams}}{{#isFile}}inputStream, fileDetail{{/isFile}}{{^isFile}}{{paramName}}{{/isFile}},{{/allParams}}request, securityContext);
	    } catch (JSONException jsonException) {
	    	throw new NotFoundException();
	    }
    }
    
{{/operation}}
    {{#operation}}
    public Response {{nickname}}({{#allParams}}{{>serviceQueryParams}}{{>servicePathParams}}{{>serviceHeaderParams}}{{>serviceBodyParams}}{{>serviceFormParams}}, {{/allParams}}HttpServletRequest request, SecurityContext securityContext) throws NotFoundException, JSONException
    {
        JSONObject data = new JSONObject();    
	    {{#hasBodyParam}}
	    {{#bodyParams}}
	    ObjectMapper mapper = new ObjectMapper();
	    try {
	    	if ({{paramName}}.getClass().equals(JSONObject.class)) {
	    		data = (JSONObject){{paramName}};
	    	} else {
		    	data = new JSONObject(mapper.writeValueAsString({{paramName}}));
		    }
	    } catch (JsonProcessingException e) {
	    	throw new JSONException("body mapper failed");
	    }
	    {{/bodyParams}}
	    {{/hasBodyParam}}
	    {{^hasBodyParam}}
	    {{#queryParams}}
	    if ({{paramName}} != null) {
	    	data.put("{{paramName}}", {{paramName}});
	    }
	    {{/queryParams}}
	    {{#formParams}}
	    if ({{paramName}} != null) {
	    	data.put("{{paramName}}", {{paramName}});
	    }
	    {{/formParams}}
	    {{/hasBodyParam}}
		String path = "/{{baseName}}";
	    {{#pathParams}}
	    path += "/" + {{paramName}};
	    {{/pathParams}}
        return V3Mapper.run(request, path, data);
    }
    
    {{/operation}}
}
{{/operations}}
