//
//  Copyright 2016 Fingerprint Digital, Inc. All rights reserved.
//

package com.fingerprintplay.v4.{{apiName}};

import javax.ws.rs.core.Context;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.SecurityContext;
import javax.ws.rs.*;

@Path("{{apiName}}/{{baseName}}")
{{#operations}}
public class {{classname}}  {

{{#operation}}
    @{{httpMethod}}
    {{#subresourceOperation}}@Path("{{path}}"){{/subresourceOperation}}
    public Response {{nickname}}({{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}, {{/allParams}}@Context SecurityContext securityContext) throws NotFoundException 
    {
    	// Argument validation, if any, done here.  Then, run is called.
        return run({{#allParams}}{{#isFile}}inputStream, fileDetail{{/isFile}}{{^isFile}}{{paramName}}{{/isFile}},{{/allParams}}securityContext);
    }
{{/operation}}

    {{#operation}}
    public Response run({{#allParams}}{{>serviceQueryParams}}{{>servicePathParams}}{{>serviceHeaderParams}}{{>serviceBodyParams}}{{>serviceFormParams}}, {{/allParams}}SecurityContext securityContext) throws NotFoundException 
    {
        return Response.ok().entity("ok").build();
    }
    {{/operation}}

}
{{/operations}}
